.card {
  width: 230px;
  height: 300px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 5px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  border: 0px solid;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 150px;
  height: 170px;
}
