.container {
  display: flex;
  gap: 100px;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.image > img {
  width: 100%;
}

button {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: orange;
  cursor: pointer;
  font-weight: 600;
}
button:hover {
  background-color: rgb(178, 121, 14);
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
